@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply bg-black text-white overflow-x-hidden; }
}

.animate-spin-slow {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
